@tailwind utilities;

@font-face {
  font-family: "Work Sans";
  src: url("../public/assets/fonts/WorkSans-VariableFont_wght.ttf");
  display: "swap";
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("../public/assets/fonts/WorkSans-Italic-VariableFont_wght.ttf");
  display: "swap";
  font-style: italic;
}

body {
  @apply font-work-sans font-normal;
}
